apiVersion: redhatcop.redhat.io/v1alpha1
kind: GroupSync
metadata:
  name: ldap-groupsync
  namespace: "{{ groupsync_namespace }}"
spec:
  schedule: "{{ groupsync.schedule | default('0 * * * *') }}"
  providers:
    - name: ldap
      ldap:
        credentialsSecret:
          kind: Secret
          name: groupsync-ldap-bind
          namespace: "{{ groupsync_namespace }}"
{% if groupsync.ca_cert | default('') != '' %}
        caSecret:
          kind: Secret
          name: groupsync-ldap-ca
          namespace: "{{ groupsync_namespace }}"
        insecure: false
{% else %}
        insecure: true
{% endif %}
        url: "{{ groupsync.ldap_url }}"
        rfc2307:
          groupsQuery:
            baseDN: "{{ groupsync.groups_base_dn }}"
            derefAliases: always
            filter: "{{ groupsync.groups_filter | default('(objectClass=group)') }}"
            pageSize: 0
            scope: sub
          groupUIDAttribute: "{{ groupsync.group_uid_attribute | default('dn') }}"
          groupNameAttributes: {{ groupsync.group_name_attributes | default(['cn']) | to_yaml | trim }}
          groupMembershipAttributes: {{ groupsync.group_membership_attributes | default(['member']) | to_yaml | trim }}
          usersQuery:
            baseDN: "{{ groupsync.users_base_dn }}"
            derefAliases: never
            pageSize: 0
            scope: sub
          userUIDAttribute: "{{ groupsync.user_uid_attribute | default('dn') }}"
          userNameAttributes: {{ groupsync.user_name_attributes | default(['uid']) | to_yaml | trim }}
          tolerateMemberNotFoundErrors: {{ groupsync.tolerate_member_not_found | default(true) | bool | lower }}
          tolerateMemberOutOfScopeErrors: {{ groupsync.tolerate_member_out_of_scope | default(true) | bool | lower }}
