---
# Default Worker Pool
apiVersion: hive.openshift.io/v1
kind: MachinePool
metadata:
  name: {{ ocp_cluster.name }}-worker
  namespace: {{ ocp_cluster.name }}
spec:
  clusterDeploymentRef:
    name: {{ ocp_cluster.name }}
  name: worker
  platform:
    nutanix:
      cpus: {{ install_config.workers.vcpu_sockets | default(2) }}
      coresPerSocket: {{ install_config.workers.cores_per_socket | default(2) }}
      memoryMiB: {{ install_config.workers.memory_mib | default(8192) }}
      osDisk:
        diskSizeGiB: {{ install_config.workers.disk_gib | default(120) }}
  replicas: {{ install_config.workers.replicas }}

{% if install_config.infra is defined %}
---
# Infra Node Pool
apiVersion: hive.openshift.io/v1
kind: MachinePool
metadata:
  name: {{ ocp_cluster.name }}-infra
  namespace: {{ ocp_cluster.name }}
spec:
  clusterDeploymentRef:
    name: {{ ocp_cluster.name }}
  name: infra
  labels:
    node-role.kubernetes.io/infra: ""
  taints:
    - effect: NoSchedule
      key: node-role.kubernetes.io/infra
  platform:
    nutanix:
      cpus: {{ install_config.infra.vcpu_sockets | default(4) }}
      coresPerSocket: {{ install_config.infra.cores_per_socket | default(1) }}
      memoryMiB: {{ install_config.infra.memory_mib | default(16384) }}
      osDisk:
        diskSizeGiB: {{ install_config.infra.disk_gib | default(120) }}
  replicas: {{ install_config.infra.replicas }}
{% endif %}

{% if install_config.storage is defined %}
---
# Storage Node Pool
apiVersion: hive.openshift.io/v1
kind: MachinePool
metadata:
  name: {{ ocp_cluster.name }}-storage
  namespace: {{ ocp_cluster.name }}
spec:
  clusterDeploymentRef:
    name: {{ ocp_cluster.name }}
  name: storage
  labels:
    cluster.ocs.openshift.io/openshift-storage: ""
    node-role.kubernetes.io/worker: ""
    node-role.kubernetes.io/storage: ""
  taints:
    - effect: NoSchedule
      key: node.ocs.openshift.io/storage
      value: "true"
  platform:
    nutanix:
      cpus: {{ install_config.storage.vcpu_sockets | default(4) }}
      coresPerSocket: {{ install_config.storage.cores_per_socket | default(1) }}
      memoryMiB: {{ install_config.storage.memory_mib | default(16384) }}
      osDisk:
        diskSizeGiB: {{ install_config.storage.disk_gib | default(120) }}
  replicas: {{ install_config.storage.replicas }}
{% endif %}
